<a name="content-<%= content.name %>" id="<%= content.name %>">&nbsp;</a>

<section id="outer">
  <div id="middle">
  	<div class="sectionHeader center">
  		<div class="left"><%= content.displayName %></div>
  	</div>
    <div id="inner">  
      <div id="frame">
        <div class="content-<%= content.name %> content">
        </div>
      </div>       
    </div>
  </div>
</section>