<% for(var i=0;i < images.length ; i++){ %>
	<div class="<% i==0 ? "active " : "" %>item">
		<div class="gallery-clipout">
			<div class="gallery-clipin">
				<img src="./assets/img/gallery/<%= images[i].filename %>" alt="<%= images[i].caption %>" />
			</div>
		</div>
	</div>
<% } %>